<md-dialog aria-label="Add Torrent"  ng-cloak>
  <form name='linkForm'>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add A Torrent</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class='md-block' style='margin: 0;' ng-if='locals.payload.action == "magnet"'>
          <label>Magnet Link</label>
          <input required type='text' name='url' ng-model="locals.payload.url" />
          <div ng-messages='linkForm.url.$error'>
            <div ng-message='required'>Enter a Magnet Link</div>
          </div>
        </md-input-container>
        <md-input-container class='md-block' style='margin: 0;' ng-if='locals.payload.action == "url"'>
          <label>Torrent Link</label>
          <input required type='text' name='url' ng-model="locals.payload.url" />
          <div ng-messages='linkForm.url.$error'>
            <div ng-message='required'>Enter a Torrent Link</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(locals.payload)" ng-disabled='linkForm.$error.required' class='md-primary md-raised'>
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>