<md-dialog aria-label="Add User"  ng-cloak>
  <form name="userForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{locals.editing ? 'Edit' : 'Add'}} A User</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" style="margin-bottom: 0;">
          <label>Name</label>
          <input required type="text" name="name" ng-model="locals.payload.name" ng-pattern="/^[a-z0-9_-]{0,48}$/i" />
          <div ng-messages="userForm.name.$error">
            <div ng-message="required">Enter a Name</div>
            <div ng-message="pattern">Invalid Name (a-zA-Z0-9_-)</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" ng-if="!locals.editing">
          <label>Email</label>
          <input ng-required="!locals.editing" type="email" name="email" ng-model="locals.payload.email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/i" />
          <div ng-messages="userForm.email.$error">
            <div ng-message="required">Enter a Email</div>
            <div ng-message="pattern">Invalid Email</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" ng-if="locals.level >= locals.PERMISSIONS.EDIT_USER">
          <label>Level</label>
          <md-select required name="level" ng-model="locals.payload.level">
            <md-option ng-value="0">Visitor</md-option>
            <md-option ng-value="1">Member</md-option>
            <md-option ng-value="2">Editor</md-option>
            <md-option ng-value="3">Owner</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(locals.payload)" ng-disabled="userForm.$invalid " class="md-primary md-raised">
        {{locals.editing ? 'Update' : 'Add'}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>