<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MrSeedbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#009688" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic" /> 
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.user_id = <%= @user['id'] %>;
      window.user_level = <%= @user['level'] %>;
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/react.min.js"></script>
    <script src="js/react-dom.min.js"></script>
    <script src="js/react-router.min.js"></script>
    <script src="js/react-router-dom.min.js"></script>
    <script src="js/history.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>