<!DOCTYPE html>
<html>
  <head>
    <title>Not Found</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="theme-color" content="#00aaee" />
    <style>
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#fefefe,#dedede);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound i {
  display: inline-block;
  font-size: 10vh;
}

    </style>
  </head>
  <body>
    <div class='notfound'>
      <i class='material-icons'>mood_bad</i>
    </div>
  </body>
</html>