<div style='max-height: calc(100% - 64px); overflow-y: auto;'>

  <div style='text-align: center; padding: 2em; font-size: 2em; color: #999;' flex ng-hide='torrents.length'>
    Nothing Here!
  </div>

  <md-card ng-repeat='torrent in torrents | orderBy:"id":true' layout='column'>
    <md-toolbar md-theme='status_{{torrent.status}}'>
      <div class='md-toolbar-tools' layout='row'>
        <div style='font-size: 0.75em'>
          {{torrent.name}}
        </div>
        <span flex></span>
        <md-button class='md-icon-button' ng-if='level >= PERMISSIONS.EDIT_TORRENT' ng-click='removeTorrent($event, torrent)'>
          <md-icon>
            delete
          </md-icon>
        </md-button>
        <md-button class='md-icon-button' ng-if='level >= PERMISSIONS.EDIT_TORRENT'' ng-click='handleTorrent(torrent)'>
          <md-icon>
            {{ torrent.status == "seeding" || torrent.status == "downloading" || torrent.status != "stopped" ? "pause" : "play_arrow" }}
          </md-icon>
        </md-button>
        <md-button class='md-icon-button' ng-show='getProgress(torrent) == 100' ng-href='/api/dl?file={{torrent.files[0].name}}' target='_blank'>
          <md-icon>
            file_download
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-progress-linear md-theme="status_seeding" ng-hide='getProgress(torrent) == 100' md-mode="determinate" value="{{getProgress(torrent)}}"></md-progress-linear>
  </md-card>
</div>

<div style='position: absolute; bottom: 1em; right: 1em;'>
  <md-fab-speed-dial md-open='isOpen' class='md-fling' md-direction='left' ng-if='level >= PERMISSIONS.EDIT_TORRENT'>
    <md-fab-trigger>
      <md-button aria-label='menu' class='md-fab md-accent'>
        <md-icon>add</md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class='md-fab md-raised md-mini' ng-click='showLinkDialog($event,"magnet")'>
        <md-icon>
          link
        </md-icon>
        <md-tooltip>
          Magnet Link
        </md-tooltip>
      </md-button>
      <md-button class='md-fab md-raised md-mini' ng-click='showLinkDialog($event,"url")'>
        <md-icon>
          attach_file
        </md-icon>
        <md-tooltip>
          Torrent File Link
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>